.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;

  background-color: #002147;
  color: white;

  padding: 8px 20px;
  z-index: 1000;

  box-sizing: border-box;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
  text-align: center;
}

.footer-logo {
  width: 25px;
  height: 25px;
  background: white;
  object-fit: contain;
  border-radius: 50%;
}

.footer-text-container {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}

.footer-text {
  margin: 0;
  font-size: 14px;
  font-weight: bold;
}

.footer-copy {
  margin: 0;
  font-size: 13px;
}

@media (max-width: 768px) {
  .footer-content {
    gap: 8px;
  }

  .footer-text-container {
    flex-direction: column;
    gap: 2px;
  }

  .footer-text,
  .footer-copy {
    font-size: 12px;
  }
}